body {
    font-family: Arial;
    color: #004466;
    background-color: #cceeff;
}

header, footer {
    background-color: #5cadd6;
    border-style: solid;
    border-width: thin;
}

nav {
    background-color: #93ceec;
    border-right-style: solid;
    border-right-width: thin;
}

nav a {
    text-decoration: none;
    text-align: right;
}

section {
    background-color: #bee2f4;
    border-left-style: solid;
    border-left-width: thin;
}

footer {
    font-style: italic;
    font-size: x-small;
    color: black;
    text-align: center;
}

footer a {
    color: green;
}

code {
    font-family: 'Lucida Console';
    font-weight: bold;
    color: black;
}

.selected {
    color: white;
    background-color: #5cadd6;
    font-style: italic;
}

.underline {
    color: yellow;
    text-decoration: underline;
}

.filename {
    font-family: 'Lucida Console';
}

#title, #subtitle {
    text-align: center;
}

.reference {
    border-style: solid;
    border-width: thin;
}