body {
    font-family: Arial, Helvetica, sans-serif;
}

.active {
    background-color: rgb(204, 201, 201);
    margin-left: -40px;
    padding-left: 40px;
}

#thanks, h1 {
    text-align: center;
    font-size: 40px;
}

#footer-links {
    text-align: center;
    list-style-type: none;
}

footer li {
    text-align: center;
    padding: 10px;
}

footer li ::after {
    content: "|";
    padding-left: 25px;
}

footer li:last-of-type ::after{
    content: none;
}

h1 {
    color: white;
    font-size: 50px;
    font-weight: 1;
}

#list {
    list-style-type: none;
    padding-top: 30px;

}

#controls {
    padding-left: 45px;
    padding-top: 70px;
}

footer a {
    color: white;
}

header , footer {
    background-color:rgb(22, 79, 97);
}

nav {
    background-color: rgb(35, 119, 145);
    text-decoration: none;
    font-size: large;
}

nav ul {
    list-style-type: none;
    text-decoration: none;
    line-height: 25px;
}

main {
    background-color:rgb(34, 158, 189);
    font-size:larger;
}

input[type=checkbox]:checked  {
    background-color: orange;
    color: orange;
}

#new-list a{
    color: white;
    text-decoration: none;
}

